body {
  background-color: #EAF6F6;
  font-family: Poppins, sans-serif;
  font-size: 14px
}

hr {
  border-style: dotted none none;
  border-color: #FCFEFE;
  border-width: 5px;
  width: 5%;
}

h1 {
  font-family: 'Abril Fatface', serif;
  color: #66BFBF;
  font-size: 35px
}

h3 {
  font-family: 'Abril Fatface', serif;
  color: #66BFBF;
  font-size: 24.5px
}
